@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Josefin+Sans&family=Julius+Sans+One&family=Prompt&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    display: none;
}

main {
    min-height: calc(100vh - 12vh);
}


.companies::-webkit-scrollbar,
.recentarticles::-webkit-scrollbar {
    width: 5px;
}

.companies::-webkit-scrollbar-track,
.recentarticles::-webkit-scrollbar-track {
    box-shadow: transparent;
    border-radius: 10px;
}

.companies::-webkit-scrollbar-thumb,
.recentarticles::-webkit-scrollbar-thumb {
    width: 5px;
    background: rgb(170, 170, 170);
    border-radius: 10px;
}

.companies::-webkit-scrollbar-thumb:hover,
.recentarticles::-webkit-scrollbar-thumb:hover {
    background: transparent;
}





/* recent article box */
.article-card {

    width: 300px;
    height: 142px;
    background: #FFFFFF;
    border-radius: 11px;
    padding: 12px 14px;
    margin: 5px 0px;
    position: relative;
    

    &:hover {
        z-index: 1;
        background-color: #f8f9fa;
    }

    .title {
        font-size: 16px;
        font-weight: 600;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;
    }

    .summary {
        font-size: 14px;
        color: #000000;
        mix-blend-mode: darken;
        opacity: 0.4;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-align: left;

    }

    .name {
        position: absolute;
        left: 15px;
        bottom: 0;
        font-size: 12px;
        align-self: flex-end;
    }

    .time {
        position: absolute;
        right: 15px;
        bottom: 0px;
        font-size: 12px;
        align-self: flex-end;
    }
}

.wrapper-class {
  padding: 0;
  border-radius: 5px;
  /* //border: 1px solid #ccc; */
}

.editor-class {
  background-color: #f0f4ff !important;
  padding: 0px 20px;
  border: 1px solid #ccc;
}

.toolbar-class {

  border: 1px solid #ccc;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.rdw-editor-toolbar {
  margin-bottom: 0px !important;
  position: sticky;
  top: 0;
  z-index: 10;
}

.rdw-editor-main {
  min-height: 500px !important;
}

.public-DraftStyleDefault-block {
  margin: 0.5em 0 !important;
}

.public-DraftStyleDefault-depth0.public-DraftStyleDefault-listLTR {
  margin-left: 2.5em !important;
}

.public-DraftStyleDefault-ol,
.public-DraftStyleDefault-ul {
  margin: 8px 0 !important;
  padding: 0;
}