@media screen and (max-width:500px) {
    .navbar {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .6em;
    }

    .nav-img img {
        width: 50%;
    }

    .nav-btn-wrapper {
        width: 60%;
        display: flex;
        font-size: smaller;
        align-items: center;
        justify-content: space-between;
        gap: 0em;
    }

    .nav-btn-wrapper button {
        font-size: .9em;
    }

    .homepage {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
    }

    .bet-wrapper {
        column-span: 2;
        width: 100%;

    }

    .home-layout:first-child {
        grid-row: 2;
        width: 100%;
        margin-bottom: 2em;
    }

    .home-layout:last-child {
        padding: 0;
        grid-row: 3;
        width: 100%;
    }

    .btn-wrap {
        width: 100%;
    }

    .sort-btn {
        font-size: .6em;

    }

    .article-card {
        width: 100%;
    }

    .company-name {
        width: 100%;
    }

    .write-form-container {
        padding: .3em;
    }

    .write-form {
        width: 100%;
    }



    .font-prompt {
        font-size: .7em;
    }

    .editor-wrapper {
        width: 90%;
    }

    .sb-btn {
        width: 50%;
    }

    .read-art {
        width: 90%;
        font-size: .8em;
    }
}


/* Mobile Viewport (up to 767px) */
@media (min-width:500px) and (max-width: 767px) {

    .navbar {
        width: 90%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .navbar img {
        width: 60%;
        align-items: center;
    }

    .navbar button {
        width: 100%;
    }

    .nav-btn-wrapper {
        width: 60%;
        font-size: smaller;
    }

    .homepage {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
    }

    .bet-wrapper {
        column-span: 2;
        width: 100%;

    }

    .home-layout:first-child {
        grid-row: 2;
        width: 100%;
        margin-bottom: 2em;
    }

    .home-layout:last-child {
        padding: 0;
        grid-row: 3;
        width: 100%;
    }

    .btn-wrap {
        width: 100%;
    }

    .sort-btn {
        font-size: .6em;

    }

    .node-render {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        column-gap: 1;
    }

    .article-card {
        width: 99%;
    }

    .company-name {
        width: 100%;
    }
}


/* Tablet Viewport (768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar {
        width: 90%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }

    .navbar img {
        width: 60%;
        align-items: center;
    }

    .navbar button {
        /* font-size: .6em; */
        width: 100%;
    }

    .nav-btn-wrapper {
        width: 50%;
        font-size: smaller;
    }

    .homepage {
        display: grid;
        grid-template-rows: 1fr auto;
        width: 100%;
    }

    .bet-wrapper {
        column-span: 2;
        width: 100%;

    }

    .home-layout:first-child {
        grid-row: 2;
        width: 100%;
        margin-bottom: 2em;
    }

    .home-layout:last-child {
        padding: 0;
        grid-row: 3;
        width: 100%;
    }

    .btn-wrap {
        width: 100%;
    }

    .sort-btn {
        font-size: .6em;

    }

    .node-render {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        column-gap: 1;
    }

    .article-card {
        width: 99%;
    }

    .company-name {
        width: 100%;
    }
}



/* Small Desktop Viewport (992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {


    .nav-btn-wrapper {
        width: 50%;
        font-size: medium;
    }

    .nav-img img {
        width: 60%;
    }


    .btn-wrap {
        width: 100%;
    }

    .sort-btn {
        font-size: .6em;

    }

    .node-render {
        padding: .3em;

    }

    .article-card {
        width: 100%;
    }


    .company-name {
        width: 100%;
    }
}



@media screen and (min-width: 1200px) {
    .node-render {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}